# standard macos python project gitignore
__pycache__/
*.pyc
.venv/
uploads/
out-uploads/
.DS_Store
.ember
scans
training_data*.log
*_backup.json
training_data*/line_crops/

.DS_Store
dataset/
foo
line_crops_spike/
output/
package-lock.json
package.json
spike_line_classification_output/
test_good/
test_struggled/
chr_lines/
eng_lines/
